h1 {
  font-size: 1.8em;
  font-weight: 200;
  color: #ccc;
  text-transform: uppercase;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
h2 {
  font-size: 1em;
  font-weight: normal;
  color: #bbb;
  margin: 0;
}
