@import "../../../styles";

.container {
  background-color: #24292e;
  color: white;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    width: 30px;
    height: 30px;
  }

  .searchForm {
    display: inline-block;
    width: calc(100% - 30px);
    max-width: 300px;
    padding: 0 16px;

    .full-width {
      width: 100%;
    }
  }

  height: $github-search-header-height;
  transition: height .3s ease-in-out;
}

.full-screen {
  height: 100%;
}
